<div class="search" nt-search>
    <input type="text" name="q" id="q" placeholder="Search" autocomplete="false" autocorrect="false" skin-part="searchInput">
</div>

<div class="menu menu-horizontal menu-social">
    <ul>
        <li><a href="#" class="icon icon-social-state icon-facebook-white icon-facebook-state-bgcolor"></a></li>
        <li><a href="#" class="icon icon-social-state icon-twitter-white icon-twitter-state-bgcolor"></a></li>
        <li><a href="#" class="icon icon-social-state icon-gplus-white icon-gplus-state-bgcolor"></a></li>
        <li>
            <div>
                <a href="#">ullisenmedia.com</a>
            </div>
        </li>
    </ul>
</div>

<div class="menu menu-vertical menu-links menu-pink">
    <ul>
        <li>
            <a href="#">
                <span>archive</span>
            </a>
        </li>
        <li>
            <a href="#">
                rss feed
            </a>
        </li>
        <li>
            <a href="#">
                YOUTUBE
            </a>
        </li>
    </ul>
</div>
