<div id="posts"
     nt-post-list-view
     nt-on-next-page="onNextPage();"
     nt-is-loading="isLoading">

    <div ng-repeat="post in posts"
         nt-post-list-item
         nt-slug="post.slug"
         nt-on-selected="onItemSelected(selectedItem);"
         class="post">

        <div class="image-mask">
            <img ng-src="{[{post.image}]}">
        </div>

        <div class="menu menu-horizontal menu-social" skin-part="shareMenu">
            <ul>
                <li>
                    <a href="#"
                       nt-share="http://www.facebook.com/sharer.php?u=http://google.com?q={[{post.slug}]}"
                       class="icon icon-facebook-white icon-facebook-state-iconcolor"></a>
                </li>
                <li>
                    <a href="#"
                       nt-share="https://twitter.com/share?original_referer={[{post.slug}]}&source=tweetbutton&text={[{post.title}]}&url={[{post.slug}]}&via=ullisenmedia"
                       class="icon icon-twitter-white icon-twitter-state-iconcolor"></a>
                </li>
                <li>
                    <a href="#"
                       nt-share="https://plus.google.com/share?url={[{post.slug}]}"
                       class="icon icon-gplus-white icon-gplus-state-iconcolor"></a>
                </li>
            </ul>
        </div>

        <div class="content">

            <h2>{[{post.title}]}</h2>

            <span class="time">{[{post.published_at|now}]}</span>

            <div ng-bind-html="post.summary_html" class="html"></div>

        </div>

        <div class="comments">12</div>

    </div>

    <div class="spacer"></div>

</div>

</div>