<div id="side-bar-view">

    <div class="spacer"></div>

    <div id="side-menu-view" class="side-menu">

        <div class="search">
            <input type="text" name="q" id="q" placeholder="Search" autocomplete="false" autocorrect="false">
        </div>

        <div class="menu menu-horizontal menu-social">
            <ul>
                <li><a class="icon icon-social-state icon-facebook-white icon-facebook-state-bgcolor"
                       href="http://www.facebook.com/ullisenmedia"
                       target="_blank"></a></li>

                <li><a class="icon icon-social-state icon-twitter-white icon-twitter-state-bgcolor"
                       href="http://twitter.com/ullisenmedia"
                       target="_blank"></a></li>

                <li><a class="icon icon-social-state icon-gplus-white icon-gplus-state-bgcolor"
                       href="http://plus.google.com/+ullisenmedia" target="_blank"></a></li>
                <li>
                    <div>
                        <a href="http://ullisenmedia.com" target="_blank">ullisenmedia.com</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="menu menu-vertical menu-links menu-pink">
            <ul>
                <li>
                    <a href="/archive">
                        <span>archive</span>
                    </a>
                </li>
                <li>
                    <a href="/rss">
                        rss feed
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCZ6nQAv1hCPCnkuQg8_-jpg" target="_blank">
                        YOUTUBE
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>