<div id="search">

    <!--<div deckgrid source="results" cardTemplate="/modules/search/views/search.list.item.html" class="deckgrid"></div>-->
    <div id="grid" class="masonry">
        <div ng-repeat="item in results"
             nt-search-list-item
             nt-slug="item.slug"
             nt-on-selected="onItemSelected(selectedItem);"
             class="item">
            <div class="content">
                <h2>{[{item.title}]}</h2>
                <span class="time">{[{item.updated_at|now}]}</span>

                <div ng-bind-html="item.summary_html" class="html"></div>
            </div>
        </div>
    </div>

</div>